@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Liquidism';
    src: url(./fonts/Liquidism.woff) format('woff');
}

@font-face {
    font-family: 'Liquidism2';
    src: url(./fonts/LIQUIDISMPART2.TTF) format('woff');
}

@font-face {
    font-family: 'Zomboi';
    src: url(./fonts/Zomboi.woff) format('woff');
}

@font-face {
    font-family: 'RoboSlab';
    src: url(./fonts/RobotoSlab-VariableFont_wght.ttf) format('woff');
}

@layer base {}

@layer components {
    .mobile-nav {
        @apply fixed block w-full h-0 top-0 left-0 bg-black bg-opacity-90 text-3xl overflow-y-hidden transition-all ease-in-out duration-500 md:hidden;
    }

    .mobile-nav.active {
        @apply h-screen;
    }

    .mobile-nav.sticky {
        @apply transform translate-y-[-%100];
    }

    body.active {
        @apply overflow-hidden;
    }

    body {
        @apply bg-[#361134] scroll-smooth;
    }
}
