@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Liquidism';
    src: url(./fonts/Liquidism.woff) format('woff');
}

@font-face {
    font-family: 'Liquidism2';
    src: url(./fonts/LIQUIDISMPART2.TTF) format('woff');
}

@font-face {
    font-family: 'Zomboi';
    src: url(./fonts/Zomboi.woff) format('woff');
}

@font-face {
    font-family: 'RoboSlab';
    src: url(./fonts/RobotoSlab-VariableFont_wght.ttf) format('woff');
}

@layer utilities {
    @keyframes fade-in-down {
        from {
            opacity: 0;
            transform: translateY(-1rem);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .animate-fade-in-down {
        animation: fade-in-down 0.5s ease-out;
    }


    @keyframes flicker {

        0%,
        19%,
        21%,
        23%,
        25%,
        54%,
        56%,
        100% {
            opacity: 1;
        }

        20%,
        24%,
        55% {
            opacity: 0.4;
        }
    }

    .animate-flicker {
        animation: flicker 2s infinite;
    }

    @keyframes slowPulse {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-3px);
        }
    }

    .animate-slowPulse {
        animation: slowPulse 4s ease-in-out infinite;
    }

    @keyframes fadeGlow {

        0%,
        100% {
            text-shadow: 0 0 10px rgba(139, 30, 30, 0.3);
        }

        50% {
            text-shadow: 0 0 20px rgba(139, 30, 30, 0.6);
        }
    }

    .animate-fadeGlow {
        animation: fadeGlow 3s ease-in-out infinite;
    }

    @keyframes glowPulse {

        0%,
        100% {
            text-shadow: 0 0 5px #8B1E1E, 0 0 10px #8B1E1E, 0 0 15px #8B1E1E;
        }

        50% {
            text-shadow: 0 0 10px #8B1E1E, 0 0 20px #8B1E1E, 0 0 30px #8B1E1E;
        }
    }

    .animate-glowPulse {
        animation: glowPulse 2.5s ease-in-out infinite;
    }

}


@layer base {}

@layer components {

    @layer components {
        .mobile-nav {
            @apply fixed left-0 w-full h-[calc(100vh-64px)] z-40 flex items-start justify-center transition-all duration-500 ease-in-out bg-gradient-to-b from-[#1a001f] via-black to-black opacity-0 pointer-events-none;
            top: 64px;
            box-shadow: 0 -10px 20px -10px rgba(91, 10, 145, 0.5);
        }

        .mobile-nav.active {
            @apply opacity-100 pointer-events-auto;
        }

        .mobile-nav::before {
            content: '';
            @apply absolute top-0 w-full h-20 z-[-1];
            background: radial-gradient(ellipse at top center, rgba(123, 31, 162, 0.5), transparent 70%);
            animation: fadeInShadow 0.4s ease-out forwards;
        }

        body.active {
            overflow: hidden;
        }

        body {
            @apply bg-black;
        }

        html {
            scroll-behavior: smooth
        }
    }
}
